body {
    font-family: sans-serif;
    
    margin-top: 75px;
    
    background-image: url("http://www.intrawallpaper.com/wallpapers-2#static/images/FWG_2560x1440_F4BWrsZ.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

