body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image: url("https://www.google.co.in/search?q=wallpapers&rlz=1C1CHZL_enIN752IN752&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi10ZuMmsjVAhXDo48KHbQRA8MQ_AUICigB&biw=1366&bih=700#imgrc=A_hHg7vn1lEozM:");
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

