body {
    font-family: sans-serif;
    
    margin-top: 75px;
    
    background-image: url("https://static.pexels.com/photos/33045/lion-wild-africa-african.jpg");
    background-repeat: no-repeat;
    background-size: 100% 300%;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

